/* .header {
  grid-area: hd;
} */
.tablePart{
  grid-area: ft;
  border: 2px solid black;
}
.mainCanvas {
  grid-area: main;
  border: 1px solid red;
}
.sideGrid {
  grid-area: sd;
  border:1px solid green
}


.mainPage{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    
    "main main main main main main main main sd "
    "ft ft ft ft   ft   ft   ft   ft   ft";
}


